app = 'dumpster-dive-gor'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[checks]
  [checks.health]
    port = 3001
    type = "http"
    interval = "30s"
    timeout = "5s"
    path = "/api/house"
